<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../script/Script.js"></script>
    <script src="../script/validation.js"></script>
    <link href="../css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
   <form method="post" enctype="multipart/form-data" action="update-by-admin.php" class="container mt-5" id="myForm">
    <section class="h-100 h-custom gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5" style="color: #4835d4;">General Information</h3>
                    <div class="col-md-15">
                <div class="text-center"></div>
                <div class="form-group">
                    <label for="imagename">Image</label>
                    <div class="input-group">
                        <input type="file" name="imagename" id="fileToUpload" class="form-control">
                        <img src='../../uploads/{{ row.image }}' name="previewImage" id="fileToUpload" alt='User Image' width='50' class="ml-2" data-existing-image=" {{ row.userimage }}">        
                        <input type="hidden" name="existing_image" value="{{ row.image }}">.
                    </div>
                </div>
                </div>
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <input type="text" id="firstname" name="firstname" value="{{ row.f_name}}" class="form-control form-control-lg" />
                          <input type="hidden" name="id" value="{{ row.uid }}">
                          <label class="form-label" for="firstname" >First name</label>
                        </div>
  
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
  
                        <div class="form-outline">
                          <input type="text" id="lastname" name="lastname" value="{{ row.l_name}}" class="form-control form-control-lg" />
                          <label class="form-label" for="lastname">Last name</label>
                        </div>
  
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
  
                        <div class="form-outline">
                          <input type="text" id="fathername" name="fathername" value="{{ row.father_name}}" class="form-control form-control-lg" />
                          <label class="form-label" for="fathername">Father name</label>
                        </div>
  
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
  
                        <div class="form-outline">
                          <input type="text" id="mothername" name="mothername" value="{{ row.mother_name}}" class="form-control form-control-lg" />
                          <label class="form-label" for="mothername">Mother name</label>
                        </div>
  
                      </div>
                    </div>
                    <div class="form-group">
                <label class="mr-2">Gender</label>&nbsp;&nbsp;&nbsp;
                {% if row.gender == 'male' %}
                    <input class="form-check-input" type="radio" name="gender" name="male"  id="male"   value ="male" checked>
                {% else %}
                    <input class="form-check-input" type="radio" name="gender" name="male"  id="male" value="male">
                {% endif %}
                <label class="form-check-label" for="male">Male</label>&nbsp;&nbsp;&nbsp;&nbsp;
                {% if row.gender == 'female' %}
                    <input class="form-check-input" type="radio" name="gender" name="female"  id="female" value="female" checked>
                {% else %}
                    <input class="form-check-input" type="radio" name="gender" name="female"  id="female" value="female">
                {% endif %}
                <label class="form-check-label" for="female">Female</label>&nbsp;&nbsp;&nbsp;
            </div>
                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <input type="text" id="email" name="email"  value="{{ row.email}}" class="form-control form-control-lg" />
                        <label class="form-label" for="email">Email-id</label>
                      </div>
                    </div>
   
                  </div>
                </div>
                <div class="col-lg-6 bg-indigo">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5">Contact Details</h3>
  
                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" id="street" name="street"  value="{{ row.street_no}}" class="form-control form-control-lg" />
                        <label class="form-label" for="street">Street + Nr</label>
                      </div>
                    </div>
  
                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" id="additional_info" name="additional_info" value="{{ row.additional_info}}" class="form-control form-control-lg" />
                        <label class="form-label" for="additional_info">Additional Information</label>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-5 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="text" id="zip_code" name="zip_code" value="{{ row.zip_code}}" class="form-control form-control-lg" />
                          <label class="form-label" for="zip_code">Zip Code</label>
                        </div>
  
                      </div>
                      <div class="col-md-7 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="text" id="place" name="place" value="{{ row.place}}" class="form-control form-control-lg" />
                          <label class="form-label" for="place">Place</label>
                        </div>
  
                      </div>
                    </div>
  
                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" id="country" name="country" value="{{ row.country}}" class="form-control form-control-lg" />
                        <label class="form-label" for="country">Country</label>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-5 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="text" id="code" name="code" value="{{ row.code}}" class="form-control form-control-lg" />
                          <label class="form-label" for="code">Code +</label>
                        </div>
  
                      </div>
                      <div class="col-md-7 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="text" id="phone_number" name="phone_number" value="{{ row.phone}}" class="form-control form-control-lg" />
                          <label class="form-label" for="phone_number">Phone Number</label>
                        </div>
  
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg"
                      data-mdb-ripple-color="dark">Update</button>
                </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
