<section id="page-title" class="page-title">
    <div class="container">
        <h1>Book Review</h1>
        <ol class="breadcrumb-trail breadcrumb breadcrumbs">
            <li><span><a class="home" href="#">Home</a></span></li>
            <li><span><a class="home" href="#">{{bookfeedback.book_name}}</a></span></li>
            <li class="active"><span class="active">Book Review</span></li>
        </ol>
    </div>
</section>

<section class="main-content grey-bg pt-5 pb-5">
    <div class="container">
        <div id="content" class="addBookWapper white-bg pt-5 pb-5" role="main">
            <div class="titleBook">
                {{bookfeedback.book_name}}
            </div>
            <div class="bookAuthorArea">
                <span>{{bookfeedback.author}}</span>
                <span class="starRating">
                    {% set sval = bookfeedback.rating %}
                    {% for i in range(1,5) %}
                    {% if i <= sval %} <i class="fa fa-star"></i>
                        {% endif %}
                        {% set dif = i - sval %}
                        {% if (dif >= 0.1) and (dif <= 0.5) %} <i class="fa fa-star-half-o"></i>
                            </i>
                            {% set sval = sval + dif %}
                            {% endif %}
                            {% if i > sval %}
                            <i class="fa fa-star-o"></i>
                            {% endif %}
                            {% endfor %}
                </span>
                <span>
                    Total Review: <a href="#" style="color:#0088dd;"><strong>
                            {% set arraylen = allbookfeedback|length %}
                            {% if arraylen == 0 %}
                            {{0}}
                            {% else %}
                            {% for i in range(1,arraylen) %}
                            {{i}}
                            {% endfor %}
                            {% endif %}
                        </strong></a>
                </span>
            </div>


            <div class="review-section">
                <div class="">
                    <hr>
                    <h3>Reviews</h3>
                    <hr>
                </div>

                <!-- review -->
                {% for feedback in allbookfeedback %}
                <div class="reviewBox">
                    <div class="review-part">
                        <div class="review-part-left">
                            <img src="../Upload/Users/{{feedback.userimage}}">
                        </div>
                        <h6>{{ feedback.user_name }}</h6>
                        <div class="bookAuthorArea">
                            <span>
                                {% set difference = date().diff(date(feedback.timestamp)) %}
                                {% set leftDays = difference.days %}
                                {% if leftDays == 1 %}
                                1 day
                                {% else %}
                                {{ leftDays }} days
                                {% endif %}
                               
                            </span>
                            <span class="starRating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="reviewText">
                            {{ feedback.feedback }}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- review -->
            </div>
        </div>
    </div>
</section>