<section class="main-content">
    <div class="container">
        <div class="row">
            {% include 'slidebox.html.twig' %}
            <div class="col-md-9">
                <div class="accountRightSide ps-md-5 ps-lg-9">
                    <h6>Lending History</h6>
                    <div class="accountInfoMain">
                        <div class="table-responsive">
                            <table id="mybooktable" class="table mb-0">
                                <thead>
                                    <tr>
                                        <th class="bookCover">Book Cover</th>
                                        <th>Book Title</th>
                                        <th>Request Date</th>
                                        <th>Issued Date</th>
                                        <th>Return Date</th>
                                        <th>Status</th>
                                        <th>Requested By</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    {% for book in lendingHistoryList %}
                                    <tr>
                                        <td>
                                            <div class="bookCoverArea">
                                                <img src="../Upload/Books/{{ book.image }}">
                                            </div>
                                        </td>
                                        <td>{{ book.book_name }}</td>
                                        <td>{{ book.rqst_date|date("m/d/Y") }}</td>
                                        <td>{{ book.issued_date != '0000-00-00' ? book.issued_date|date("m/d/Y") :
                                            '0000-00-00' }}</td>
                                        <td>{{ book.return_date != '0000-00-00' ? book.return_date|date("m/d/Y") :
                                            '0000-00-00' }}</td>
                                        <td>{% if book.rstatus == 0 %}
                                            Pending
                                            {% elseif book.rstatus == 1 %}
                                            issued
                                            {% elseif book.rstatus == 2 %}
                                            Returning
                                            {% elseif book.rstatus == 3 %}
                                            Returned
                                            {% else %}
                                            Rejected
                                            {% endif %}
                                        </td>
                                        <td>{{book.user_name}}</td>
                                        <td>
                                            <a href="bookView.php?bookid={{ book.id }}"
                                                class="btn btn-primary btn-sm">View</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" charset="utf8"
    src="{{baseurl}}src/View/templates/datatable/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="{{baseurl}}src/View/templates/js/datatable.js"></script>