<link href="{{baseurl}}src/View/templates/css/request.css" rel="stylesheet">
<section class="request">
<div class="sent-request-div">
    <h4 class="mt-4">Sent Request</h4>
    {% set arrlen = allsentrequest|length %}
    {% if  arrlen == 0 %}
    There is no sent request message 
    {% endif %}
    {% for sentrequest in allsentrequest %}
    <div class="sent-request-item">
        {% if sentrequest.status == 0 %}
        <p>You requested {{ sentrequest.book_name }} to {{sentrequest.owner_name}}</p>
        {% elseif sentrequest.status == 1 %}
        <p>{{ sentrequest.owner_name }} issued {{sentrequest.book_name}} to you</p>
        {% elseif sentrequest.status == 2 %}
        <p>You requested return {{sentrequest.book_name}} to {{ sentrequest.owner_name }}</p>
        {% elseif sentrequest.status == 3 %}
        <p>{{ sentrequest.owner_name }} granted return of {{sentrequest.book_name}}</p>
        {% elseif sentrequest.status == 4 %}
        <P>Reason: {{sentrequest.reason}}</P>
        <p>request cancelled</p>
        {% endif %}
    </div>
    {% endfor %}
</div>    
<div class="recieved-request-div">
    <h4 class="mt-4">Received Request</h4>
    {% set arrlen = allreceivedrequest|length %}
    {% if  arrlen == 0 %}
    There is no recieved request message 
    {% endif %}
    {% for receivedrequest in allreceivedrequest %}
    <div class="sent-request-item">
        {% if receivedrequest.status == 0 %}
        <p>{{receivedrequest.requester_name}} requested you {{receivedrequest.book_name}} </p>
        <form id="grand-form" action="action.php" method="post"
            onsubmit="return confirm('Do you really want to comfirm request?');">
            <input type="text" value="1" name="status" hidden>
            <input type="text" value="{{receivedrequest.requester_id}}" name="requesterid" hidden>
            <input type="text" value="{{receivedrequest.book_id}}" name="bookid" hidden>
            <input type="text" value="{{receivedrequest.owner_id}}" name="ownerid" hidden>
            <input type="text" name="reason" value="" hidden>
            <button type="submit" name="requestgrand">Grant</button>
        </form>
        <button onclick="reject()">Reject</button>
        <div id="request-reject-div">
            <button id="request-closer">x</button>
            <h3 class="mb-4"><b>____Reason____</b></h3>
            <form id="reject-form" action="action.php" method="post">
                <input type="text" value="4" name="status" hidden>

                <input type="text" value="{{receivedrequest.requester_id}}" name="requesterid" hidden>
                <input type="text" value="{{receivedrequest.book_id}}" name="bookid" hidden>
                <input type="text" value="{{receivedrequest.owner_id}}" name="ownerid" hidden>
                <input type="text" name="reason" placeholder="Enter reason for rejection">
                <br>
                <br>
                <button type="submit" name="requestgrand">submit</button>
            </form>
        </div>

        {% elseif receivedrequest.status == 1 %}
        <p>You Granted Requst to {{receivedrequest.requester_name}} for {{ receivedrequest.book_name }}</p>
        {% elseif receivedrequest.status == 2 %}
        <p> {{ receivedrequest.requester_name }} requested you to return {{receivedrequest.book_name}}</p>
        <button onclick="grant()">grant</button>
        <div id="return-grand-div">
            <button id="grand-closer">x</button>
            <h3 class="mb-4"><b>___ User Rating__</b></h3>
            <form id="returngrand-form" action="action.php" method="post">
                <input type="text" value="3" name="status" hidden>
                <input type="text" value="{{receivedrequest.requester_id}}" name="requesterid" hidden>
                <input type="text" value="{{receivedrequest.book_id}}" name="bookid" hidden>
                <input type="text" value="{{receivedrequest.owner_id}}" name="ownerid" hidden>
                <input type="text" name="reason" value="" hidden>
                <select name="requester_rating" class="requester_rating">
                    <option>-1</option>
                    <option>3</option>
                </select>
                <br>
                <br>
                <input type="submit" value="submit" name="userrating">
            </form>
        </div>
        {% elseif receivedrequest.status == 3 %}
        <p>You Granted Return Request to {{ receivedrequest.requester_name }} for {{receivedrequest.book_name}}</p>
        {% elseif receivedrequest.status == 4 %}
        <P>You cancelled the request by :{{receivedrequest.requester_name}}</P>
        <p>request cancelled</p>
        {% endif %}
    </div>
    {% endfor %}
</div>
</section>
<script src="{{ baseurl }}src/View/templates/js/request.js"></script>