<section class="main-content mt-5 mb-5">
	<div class="container">				
		<div id="content" class="" role="main">
			<div class="row py-5 mt-4 justify-content-between">
				<!-- For Demo Purpose -->
				<div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
					<h1>Create an Account</h1>
					<p class="font-italic text-muted mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					<br>
					<img src="https://bootstrapious.com/i/snippets/sn-registeration/illustration.svg" alt="" class="img-fluid mb-3 d-none d-md-block">	
				</div>

			<!-- Registeration Form -->
			<div class="col-md-6 col-lg-6 ml-auto formRegister">
				<form id="register-form" action="action.php" method="post" enctype="multipart/form-data">
					<div class="row">
						<!-- First Name -->
						<div class="col-lg-6 mb-4">	
							<label for="firstName" class="form-label">First Name&nbsp;<span class="required">*</span></label>
							<input id="firstName" type="text" name="firstname" placeholder="First Name" class="form-control inputGrey border-left-0 border-md">
						</div>
					
						<!-- Last Name -->
						<div class="col-lg-6 mb-4">		
							<label for="lastName" class="form-label">Last Name</label>
							<input id="lastName" type="text" name="lastname" placeholder="Last Name" class="form-control inputGrey border-left-0 border-md">
						</div>
						
						<!-- Phone Number -->
						<div class=" col-lg-12 mb-4">	
							<label for="phoneNumber" class="form-label">Phone Number&nbsp;<span class="required">*</span></label>
							<input id="phoneNumber" type="tel" name="phone[main]" placeholder="Phone Number" class="form-control inputGrey border-md border-left-0 pl-3">
						</div>
						
						<!-- Address -->
						<div class="col-lg-12 mb-4">
							<label for="address" class="form-label">Address&nbsp;<span class="required">*</span></label>
							<textarea id="address" name="address" placeholder="Address" class="form-control inputGrey border-left-0 border-md"></textarea>
						</div>
						
						<!-- Password -->
						<div class="col-lg-6 mb-4">
							<label for="password" class="form-label">Password&nbsp;<span class="required">*</span></label>
							<input id="password" type="password" name="password" placeholder="Password" class="form-control inputGrey border-left-0 border-md">
						</div>
						
						<!-- Password Confirmation -->
						<div class="col-lg-6 mb-4">
							<label for="passwordConfirmation" class="form-label">Confirm Password&nbsp;<span class="required">*</span></label>
							<input id="passwordConfirmation" type="password" name="passwordConfirmation" placeholder="Confirm Password" class="form-control inputGrey border-left-0 border-md">
						</div>
						
						<!-- upload profile image -->
							<div class="col-lg-6 mb-4">
								<div class="input-group">
									<div class="input-file-container">
										<label for="my-file" class="form-label mb-2">Upload Photo</label>
										<input class="input-file" id="user_img" type="file" namne="user_img">	
									</div>
								</div>
							</div>
						<!-- Button trigger modal -->
						<div class="form-group col-lg-12 mx-auto mb-0 mt-5 text-center">
						<button style="width: 300px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
						Create Your Account
						</button>
						</div>
					<!-- Modal -->
					<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Choose Language and Genre</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
						<div class="row">
											<!-- First Name -->
											<div class="col-lg-6 mb-4">	
												<label for="firstName" class="form-label">Choose Language&nbsp;</label>
											</div>
											<ul>
												{% for lan in lang %}
												{% if lan.name == 'English'%}
												<li>
													<input type="checkbox" name="lang[]" value="{{lan.id}}">{{lan.name}} 
												</li>
												{% elseif lan.name == 'Hindi' %}
												<li>
													<input type="checkbox" name="lang[]" value="{{lan.id}}">{{lan.name}} 
												</li>
												{% elseif lan.name == 'Bhojpuri' %}
												<li style="display:inline">
													<input type="checkbox" name="lang[]" value="{{lan.id}}">{{lan.name}} 
												</li>
												{% elseif lan.name == 'Tamil' %}
												<li>
													<input type="checkbox" name="lang[]" value="{{lan.id}}">{{lan.name}} 
												</li>
												{% elseif lan.name == 'Assamese' %}
												<li>
													<input type="checkbox" name="lang[]" value="{{lan.id}}">{{lan.name}} 
												</li>
												{% elseif lan.name == 'Chinese (Simplified)' %}
												<li>
													<input type="checkbox" name="lang[]" value="{{lan.id}}">{{lan.name}} 
												</li>
												{% elseif lan.name == 'Arabic' %}
												<li>
													<input type="checkbox" name="lang[]" value="{{lan.id}}">{{lan.name}} 
												</li>
												{% endif %}
												{% endfor %}
												</ul>
											<div class="col-lg-6 mb-4 mt-4">	
												<label for="firstName" class="form-label">Choose Genre&nbsp;</label>
											</div>
											<ul>
												{% for gen in genre %}
												{% if gen.genre == 'Literary Fiction' %}
												<li>
												<input type="checkbox" name="genre[]" value="{{gen.id}}">{{gen.genre}} 
												</li>
												{% elseif gen.genre == 'Mystery' %}
												<li>
												<input type="checkbox" name="genre[]" value="{{gen.id}}">{{gen.genre}} 
												</li>
												{% elseif gen.genre == 'Horror' %}
												<li>
												<input type="checkbox" name="genre[]" value="{{gen.id}}">{{gen.genre}} 
												</li>
												{% elseif gen.genre == 'Thriller' %}
												<li>
												<input type="checkbox" name="genre[]" value="{{gen.id}}">{{gen.genre}} 
												</li>
												{% elseif gen.genre == 'Historical' %}
												<li>
												<input type="checkbox" name="genre[]" value="{{gen.id}}">{{gen.genre}} 
												</li>
												{% elseif gen.genre == 'Romance' %}
												<li>
												<input type="checkbox" name="genre[]" value="{{gen.id}}">{{gen.genre}} 
												</li>
												{% elseif gen.genre == 'Science Fiction' %}
												<li>
												<input type="checkbox" name="genre[]" value="{{gen.id}}">{{gen.genre}} 
												</li>
												{% elseif gen.genre == 'Programming' %}
												<li>
												<input type="checkbox" name="genre[]" value="{{gen.id}}">{{gen.genre}} 
												</li>
												{% endif %}
												{% endfor %}
											</ul>
						</div>
						<div class="modal-footer">

							<div class="form-group col-lg-12 mx-auto mb-0 mt-5 text-center">
												<button href="#" class="btn btn-primary btn-lg" name="signup" style="width: 300px;">
													<span class="font-weight-bold">Submit</span>
												</button>
											</div>
						</div>
						</div>
					</div>
					</div>
						<!-- Divider Text -->
						<div class="form-group col-lg-12 mx-auto d-flex align-items-center my-5">
							<div class="border-bottom w-100 ml-5"></div>
							<span class="px-2 small text-muted font-weight-bold text-muted" style="font-size: 16px;font-weight: bold;">OR</span>
							<div class="border-bottom w-100 mr-5"></div>
						</div>

						<!-- Already Registered -->
						<div class="text-center w-100 ">
							<p class="text-muted font-weight-bold" style="font-size: 16px;">Already Registered? <a href="signin.php" class="text-primary ml-2">Login</a></p>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>				
</section>
<script src="{{baseurl}}src/View/templates/js/jquery.validate.min.js"></script>
<script src="{{baseurl}}src/View/templates/js/signup.js"></script>
<script src="{{baseurl}}src/View/templates/build/js/intlTelInput.js"></script>
<script src="{{baseurl}}src/View/templates/build/js/intlTelInput-jquery.min.js"></script>

{% include 'footer.html.twig' %}