
<div class="container col-md-6 my-2">

    <form id="edit_book">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Book Name</label>
            <input type="text" id="b_name" value="{{ bookDetail.book_name }}" name="book_name" class="form-control" >
            </div>
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Book Genre</label>
            <input type="text" id="b_genre" value="{{ bookDetail.genre }}" name="book_genre" class="form-control" >
            </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Book author</label>
            <input type="text" id="b_author" value="{{ bookDetail.author }}" name="book_author" class="form-control" >
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Book edition</label>
            <input type="text" id="b_edition" value="{{ bookDetail.edition }}" name="book_edition" class="form-control" >
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Book description</label>
            <input type="text" id="b_description" name="book_description" value="{{ bookDetail.description }}" class="form-control" >
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Book rating</label>
            <input type="text"  id="b_rating" value="{{ bookDetail.rating }}" name="book_rating" class="form-control" disabled>
            </div>
            
            
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary" onclick="updateBookDetails()">Update</button>
        <input type="hidden" id="hiddenBookId" value="{{ bookId }}">
    </form>

</div>

<script src="../js/jquery-3.6.0.js"></script>
<script src="../js/jqueryValidator.js"></script>

<script src="../js/validation.js" defer></script>
<link rel="stylesheet" href="../style/style.css">