
    <script src="../js/jquery-3.6.0.js"></script>

    <link rel="stylesheet" type="text/css" href="../DataTables/datatables.min.css"/>
    <script type="text/javascript" src="../DataTables/datatables.min.js"></script>

        <style>
            tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
    </style>



<div class="container my-3">
<h2 class="text-center">Total requests</h2>
    <table id="reqst_table" class="table table-striped container">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Borrower Name</th>
                <th scope="col">Book Name</th>
                <th scope="col">Owner Name</th>
                <th scope="col">Status</th>
                <th scope="col">Request Date</th>
                <th scope="col">Issued Date</th>
                <th scope="col">Return Date</th>
                
                
            </tr>
        </thead>
        <tbody>
        {% set num = 1 %}
            {% for data in requestList %}
            <tr>
                <th scope="row">{{ num }}</th>
                <td><a class="nav-link" href="profile/user_profile.php?id={{ data.requester_id }}">{{ data.Requester }}</a></td>
                <td><a class="nav-link" href="profile/book_profile.php?id={{ data.book_id }}">{{ data.Book }}</a></td>
                <td><a class="nav-link" href="profile/user_profile.php?id={{ data.owner_id }}">{{ data.Book_Owner }}</a></td>
                <td>{{ data.status }}</td>
                <td>{{ data.rqst_date }}</td>
                <td>{{ data.issued_date }}</td>
                <td>{{ data.return_date }}</td>

            </tr>
            {% set num = num +1 %}
            {% endfor %}



        </tbody>
        <tfoot>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Borrower Name</th>
                <th scope="col">Book Name</th>
                <th scope="col">Owner Name</th>
                <th scope="col">Status</th>
                <th scope="col">Request Date</th>
                <th scope="col">Issued Date</th>
                <th scope="col">Return Date</th>
            </tr>
        </tfoot>
    </table>

</div>

<script>
$(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#reqst_table tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );
 
    // DataTable
    var table = $('#reqst_table').DataTable({
        initComplete: function () {
            // Apply the search
            this.api().columns().every( function () {
                var that = this;
 
                $( 'input', this.footer() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        }
    });
 
} );
</script>

        <script>
            $(document).ready(function() {
                
                    $('#rqst').addClass("active");
            });
        </script>
