
    <div class="container">
        <h2 class="text-center my-3">Settings</h2>
        <hr>

        <div class="text-center">
            <form  method="POST" action="applyChange.php" enctype="multipart/form-data" id="setting">
            {% set settings = all_setting|length %}
                {% for i in 0..(settings-1) %}
               
                    {% if i == '1' %}
                        <label>{{ all_setting[i].name}}</label>&nbsp&nbsp&nbsp
                        <input type="file" name="{{ all_setting[i].name }}"><br><br>
                    {% else %}
                        <label>{{ all_setting[i].name}}</label>&nbsp&nbsp&nbsp
                        <input type="text" name="{{ all_setting[i].name }}" value="{{ all_setting[i].value }}"><br><br>
                    {% endif %}
                {% endfor %}
                <button class="btn btn-primary" name="apply" type="submit">Apply</button><br><br>
            </form>
        </div>
        
    </div>

        <script>
            $(document).ready(function() {
                
                    $('#sett').addClass("active");
            });
        </script>
<script src="../js/jquery-3.6.0.js"></script>

<script src="../js/jqueryValidator.js" ></script>

<script src="../js/validation.js" defer></script>
<link rel="stylesheet" href="../style/style.css">
<script src="../js/additionalMethod.js"></script>




</body>
</html>