
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css">


<link rel="stylesheet" href="../../style/star.css">


<script src="../../js/jquery-3.6.0.js"></script>

<link rel="stylesheet" type="text/css" href="../../DataTables/datatables.min.css"/>

<script type="text/javascript" src="../../DataTables/datatables.min.js"></script>

<div class="container my-4">
<h2 class="text-center">{{ userDetails.user_name }}'s Profile</h2>
<hr>

<div class="text-center">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../../img/logo1.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ userDetails.user_name }}</h5>
        <p class="card-text">{{ userDetails.mobile_no }}</p>
        <p class="card-text">{{ userDetails.email }}</p>
        <p class="card-text">{{ userDetails.address }}</p>
        <p class="card-text">Registered Date: {{ joining_date }}</p>
        <p class="card-text">
            <div class="stars-outer">
                <div id="stars-inner"></div>
            </div>
            <span class="number-rating">{{ userDetails.rating }}</span>
        </p>
      </div>
    </div>
  </div>
</div>

</div>



<hr>
<div class="container">
<h2>{{ userDetails.user_name }}'s book history</h2>
<table class="table table-striped container bg-info" id="bookDetails">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Requester Name</th>
                <th scope="col">Book Name</th>
                <th scope="col">Owner Name</th>
                <th scope="col">Status</th>
                <th scope="col">Copies</th>
                <th scope="col">Request Date</th>
                <th scope="col">Borrowed Date</th>
                <th scope="col">Return Date</th>
                
                
            </tr>
        </thead>
        <tbody>
            {% set num = 1 %}

            {% for data in userBookProfile %}
            <tr>
                <th scope="row">{{ num }}</th>
                <td>{{ data.receiver_name }}</td>
                <td>{{ data.book_name }}</td>
                <td>{{ data.owner_name }}</td>
                <td>{{ data.status }}</td>
                <td>{{ data.rqst_copies }}</td>
                <td>{{ data.rqst_date }}</td>
                <td>{{ data.issued_date }}</td>
                <td>{{ data.return_date }}</td>
                
                

            </tr>
            {% set num = num+1 %}

            {% endfor %}

        </tbody>
    </table>
</div>
</div>
<script src="../../js/percentCal.js"></script>

        <script>
            $(document).ready(function() {
                $('#bookDetails').DataTable();
                percentCal({{ userDetails.rating }});
                $('#user').addClass("active");
            });
            
        </script>


</body>
</html>